.inner-box {
  margin-left: 10%;
  height: 100vh;
  
}
.login{
   
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
.gutter-row {
  border-right: 2px solid #000; /* Agrega la línea divisoria */
}

.gutter-row:last-child {
  border-right: none; /* Elimina la línea divisoria en la última columna */
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 width: 25vw;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
