<div nz-row [nzGutter]="16" class="container">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box">col-6</div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box login">
        <div class="formulario">
          <nz-tabset nzType="card" #tabset>
            <nz-tab [nzTitle]="'Login'">
                <nz-divider></nz-divider>
              <app-login-form></app-login-form>
            </nz-tab>
            <nz-tab [nzTitle]="'Registro'">
                <nz-divider></nz-divider>
              <app-registro (registerSuccess)="onRegisterSuccess()"></app-registro>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
  